.vs
.idea
ConsoleUI/bin
ConsoleUI/obj
DataAccessContracts/bin
DataAccessContracts/obj
Entities/bin
Entities/obj
Logic/bin
Logic/obj
LogicContracts/bin
LogicContracts/obj
MemoryDataAccess/bin
MemoryDataAccess/obj
MSSQLDataAccess/bin
MSSQLDataAccess/obj